<h1>Administration</h1>
<div ng-if='errors && errors != ""'>
    Echec de la connexion : {{errors}}
</div>

<div class="projet-liste-publications">
    <div class="group-by-box">
        <h3 onclick="Folding.toggleFolder(this);"><span class="arrow">⏷</span>Doublons</h3>
        <div class="group-publication-list">
            <div class="publication-box" ng-repeat="publi in doublons | orderBy: orderBy">
                <div class="publication-title"><a href="#/publi/{{publi.id}}">{{publi.titre}}</a></div>
                <div class="publication-infos">
                    {{publi.statut}}, {{publi.categorie}}, {{publi.annee_publication}}.<br/>
                </div>
            </div>
        </div>
    </div>
    <div class="group-by-box">
        <h3 onclick="Folding.toggleFolder(this);"><span class="arrow">⏷</span>Publications sans auteurs de l'UTT</h3>
        <div class="group-publication-list">
            <div class="publication-box" ng-repeat="publi in publications | orderBy: orderBy">
                <div class="publication-title"><a href="#/publi/{{publi.id}}">{{publi.titre}}</a></div>
                <div class="publication-infos">
                    {{publi.statut}}, {{publi.categorie}}, {{publi.annee_publication}}.<br/>
                </div>
            </div>
        </div>
    </div>
</div>
