<h1>LO07-publi</h1>
<div ng-if='errors && errors != ""'>
    Echec de la connexion : {{errors}}
</div>
<p>Bienvenue sur le site de publications scientifiques.</p>
<table ng-show="hasPublis">
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>Statut</th>
    <th>Catégorie</th>
    <th>Année</th>
  </tr>
  <tr ng-repeat="publi in publis">
    <td><a href="#/publi/{{publi.id}}">{{publi.titre}}</a></td>
    <td>{{publi.description}}</td>
    <td>{{publi.statut}}</td>
    <td>{{publi.categorie}}</td>
    <td>{{publi.annee_publication}}</td>
  </tr>
</table>
<p ng-hide="hasPublis">Il n'y pour le moment aucune publication sur le site.</p>
