<div ng-if='errors && errors != ""'>
    Echec de la connexion : {{errors}}
</div>

<h1>{{auteur.prenom}} {{auteur.nom}}</h1>
<p><b>Organisation :</b> {{auteur.organisation}}</p>
<p><b>Equipe :</b> {{auteur.equipe}}</p>

<div ng-show="hasPublis">
<h2>Publications de cet auteur</h2>
    <projet-liste-publications liste="publis"></projet-liste-publications>
    
<h2>Co-Auteurs :</h2>
    <table>
        <tr>
            <th>Co-Auteurs</th>
            <th>Nombre de co-publications</th>
        </tr>
        <tr ng-repeat="coAuteur in coAuteurs | unique: 'id'">
            <th>{{coAuteur.prenom}} {{coAuteur.nom}}</th>
            <th>{{countCoPublis(coAuteur.id)}}</th>
        <tr>
    <table>
</div>
<p ng-hide="hasPublis">
    Cet auteur n'a pas de publications.
</p>
