<h1>{{publi.titre}}</h1>

<button class="expand" ng-click="download()"><i class="material-icons">get_app</i> <b>Télécharger la publication</b></button>

<h3>Description : </h3>
<p>{{publi.description}}</p>

<h3>Informations : </h3>
<p>
    Statut : {{publi.statut}}<br/>
    Catégorie : {{publi.categorie}}<br/>
    Année de publication : {{publi.annee_publication}}<br/>
</p>

<h3>Auteurs :</h3>
<ul>
    <li ng-repeat="auteur in publi.auteurs">{{auteur.prenom}} {{auteur.nom | uppercase}} ({{auteur.organisation}}, {{auteur.equipe}})</li>
</ul>

<div ng-show="hasJournal">
  <h3>Journal : </h3>
  <p>
      Titre : {{publi.journal_titre}}<br/>
      Editeur : {{publi.journal_editeur}}<br/>
      Volume : {{publi.journal_volume}}<br/>
      Page(s) : {{publi.pages}}
  </p>
</div>

<div ng-show="hasConference">
  <h3>Conférence : </h3>
  <p>
      Nom : {{publi.conference_nom}}<br/>
      Lieu : {{publi.conference_lieu}}<br/>
      Date : {{publi.conference_date}}<br/>
  </p>
</div>
