<h1>Publier</h1>
<div ng-if='errors && errors != ""'>
    Echec de la connexion : {{errors}}
</div>

<form>
  <h3>Publication</h3>
  <label for="title">Titre : </label>
  <input type="text" id="title" ng-model="publi.titre" required><br>
  <label for="description">Description : </label>
  <textarea id="description" ng-model="publi.description"></textarea><br>
  <label for="statut">Statut : </label>
  <select id="statut" ng-model="publi.statut"
    ng-options="statut for statut in statuts" ng-init="publi.statut = statuts[0]"></select><br>
  <label for="categorie">Catégorie : </label>
  <select id="categorie" ng-model="publi.categorie"
    ng-options="categorie for categorie in categories" ng-init="publi.categorie = categories[0]"></select><br>
  <label for="annee">Année : </label>
  <input type="number" id="annee" ng-model="publi.annee_publication" ng-init="publi.annee_publication = 2010"><br><br>

  <h3>Auteur</h3>
  <label for="isAuteur" class="no-line-return">Je suis l'auteur de cette publication : </label>
  <input type="checkbox" id="isAuteur" class="no-expand" ng-model="isAuteur"><br>
  <label for="auteur-nom">Nom : </label>
  <input type="text" id="auteur-nom" ng-model="auteur.nom" list="liste-nom-auteurs" ng-change="associateAuteur()"><br>
  <label for="auteur-prenom">Prenom : </label>
  <input type="text" id="auteur-prenom" ng-model="auteur.prenom"><br>
  <label for="auteur-organisation">Organisation : </label>
  <input type="text" id="auteur-organisation" ng-model="auteur.organisation"><br>
  <label for="auteur-equipe">Equipe : </label>
  <input type="text" id="auteur-equipe" ng-model="auteur.equipe"><br>
  <button type="button" ng-click="addAuteur()">Ajouter auteur</button>
  <ul>
    <li ng-repeat="auteur in publi.auteurs">
      {{auteur.prenom}} {{auteur.nom}} ({{auteur.organisation}}, {{auteur.equipe}})
      <button type="button" ng-click="removeAuteur($index)">Supprimer</button>
    </li>
  </ul>
  <datalist id="liste-nom-auteurs">
    <option ng-repeat="auteur in auteurs" value="{{auteur.nom}}">
  </datalist>
  <br><br>

  <h3>Journal</h3>
  <label for="hasJournal" class="no-line-return">La publication fait partie d'un journal : </label>
  <input type="checkbox" id="hasJournal" class="no-expand" ng-model="hasJournal"><br ng-show="hasJournal">
  <div ng-show="hasJournal">
    <label for="journal_titre">Titre : </label>
    <input type="text" id="journal_titre" ng-model="publi.journal_titre" list="liste-titre-journaux" ng-change="associateJournal()"><br>
    <label for="journal_editeur">Editeur : </label>
    <input type="text" id="journal_editeur" ng-model="publi.journal_editeur"><br>
    <label for="journal_volume">Volume : </label>
    <input type="text" id="journal_volume" ng-model="publi.journal_volume"><br>
    <label for="pages">Pages : </label>
    <input type="text" id="pages" ng-model="publi.pages">
  </div>
  <datalist id="liste-titre-journaux">
    <option ng-repeat="journal in journaux" value="{{journal.titre}}">
  </datalist>
  <br><br>

  <h3>Conférence</h3>
  <label for="hasConference" class="no-line-return">La publication est liée à une conférence : </label>
  <input type="checkbox" id="hasConference" class="no-expand" ng-model="hasConference">
  <div ng-show="hasConference" ng-show="hasConference">
    <br ng-show="hasConference">
    <label for="conference_nom">Nom : </label>
    <input type="text" id="conference_nom" ng-model="publi.conference_nom" list="liste-nom-conferences" ng-change="associateConf()"><br >
    <label for="conference_date">Date : </label>
    <input type="text" id="conference_date" ng-model="publi.conference_date"><br>
    <label for="conference_lieu">Lieu : </label>
    <input type="text" id="conference_lieu" ng-model="publi.conference_lieu"><br>
  </div>
  <datalist id="liste-nom-conferences">
    <option ng-repeat="conference in conferences" value="{{conference.nom}}">
  </datalist>
  <br><br>

    <div ng-show="$state.includes('publish')">
        <h3>Upload</h3>
        <label for="file">Fichier : </label>
        <input type='file' ng-model='publi.fichier' base-sixty-four-input ng-required="$state.includes('publish')"><br>
        <button ng-click="publish()">Publier</button>
    </div>

    <div ng-show="$state.includes('update')">
        <button ng-click="update()">Mettre à jour</button>
    </div>

</form>
