@font-face {
    font-family: 'lato';
    src: local('fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: local('fonts/Lato-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #19191F;
}

.nav ul {
    display: block;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: block;
    float: left;
    height: 50px;
    vertical-align: middle;
}

.nav li button {
    text-align: center;
    /*padding: 14px 16px;*/
    height: 50px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: white;
}

.nav li button:hover {
    background-color: rgba(50, 50, 50, 1);
}

.nav li button.active {
    background-color: white;
    color: black;
    border-top-color: rgba(100, 100, 100, 1);
    border-top-width: 2px;
}

.nav li.align-right {
    float: right;
}

#website-main-button {

}

#website-main-button button {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 18px;
    background-color: rgb(240, 240, 240);
}

footer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
    font-size: 10pt;
    font-style: italic;
    color: white;
    background-color: #19191F;
    padding: 24px;
    text-align: center;
}

#contenu {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: white;
    padding: 24px;
}

h1 {
    color: rgb(40, 40, 40);
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top:0;
    padding-top: 50px;
    text-align: center;
}

table {
    width: 100%;
}

th, td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    margin-top: 10px;
}

form label:not(.no-line-return) {
    display: block;
}

form button {
    margin-top: 10px;
}

form input,
form textarea {
    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-family: 'Lato', sans-serif;

    transition: border-color 0.2s;
}

form select {
    background-color: rgb(180, 180, 180);
    border-width: 0px;
    padding: 3px;
    font-family: 'Lato', sans-serif;

    transition: background-color 0.2s;
}

button {
    border-width: 0px;
    background-color: rgb(180, 180, 180);
    padding: 10px;
    font-family: 'Lato', sans-serif;

    transition: background-color 0.2s;
}

button .material-icons {
    vertical-align: middle;
}


button:hover {
    background-color: rgb(200, 200, 200);
}

form input:not(.no-expand),
form textarea:not(.no-expand),
form select:not(.no-expand)
{
    width: 100%
}

form input:focus,
form textarea:focus {
    border-color: rgb(120, 120, 255);
}

form select:hover {
    background-color: rgb(200, 200, 200);
}

.expand {
    width: 100%
}

.projet-liste-publications {
    margin: 0px;
    padding: 0px;
}

.group-by-box {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(220, 220, 220);
}

.group-by-box h3 {
    padding: 5px;
    background-color: rgb(220, 220, 220);
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(180, 180, 180);

    transition: background-color 0.2s;
}

.group-by-box h3:hover {
    background-color: rgb(240, 240, 240);
}

.group-publication-list {
    overflow: hidden;
}

.publication-box {
    padding: 10px;
    background-color: white;

    transition: background-color 0.2s;
}

.publication-box:hover {
    background-color: rgb(240, 240, 240);
}

.publication-box .publication-title {
    font-weight: bold;
}

.publication-box .publication-infos {
    font-size: 10.5pt;
}

.publication-box a {
    color: rgb(80, 80, 180);
}

.publication-box a:hover {
    color: rgb(100, 100, 255);
}

.display-option-box {
    margin-right: 0;
    margin-left: auto;
    max-width: 500px;
    text-align: right;
    font-size: 10pt;
    background-color: rgb(220, 220, 220);
}

.display-option-box button {
    font-size: 10pt;
}

.display-option-box select {
    font-size: 10pt;
}
