.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #19191F;
}

.nav li {
    float: left;
}

.nav li button {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}
