<div ng-show="liste.length > 0" class="projet-liste-publications">
    <div class="display-box">
        <input ng-model="search" placeholder="Recherche..." value=""/>
        <label>Grouper par :</label>
        <select ng-model="groupBy" ng-change="saveGroupByToLocalStorage()">
            <option value="categorie">Catégories</option>
            <option value="conference_nom">Conférences</option>
            <option value="journal_titre">Journaux</option>
            <option value="annee_publication">Années</option>
        </select>
        <label>Trier par :</label>
        <select ng-model="orderBy" ng-change="saveOrderByToLocalStorage();">
            <option value="-annee_publication">Années ↑</option>
            <option value="annee_publication">Années ↓</option>
            <option value="-titre">Titre ↑</option>
            <option value="titre">Titre ↓</option>
            <option value="-categorie">Catégorie ↑</option>
            <option value="categorie">Catégorie ↓</option>
        </select>
        <button ng-click="reset()">Réinitialiser</button>
    </div>
    <div class="group-by-box" ng-repeat="(orderByLabel, subliste) in liste | filter: search | orderBy: orderBy | groupBy: groupBy">
        <h3 onclick="Folding.toggleFolder(this);">
            <span class="arrow">⏷</span>
            <span ng-show="orderByLabel != 'null'">{{orderByLabel}}</span>
            <span ng-hide="orderByLabel != 'null'">Aucun(e) / Non défini(e)</span>
        </h3>
        <div class="group-publication-list">
            <div class="publication-box" ng-repeat="publi in subliste | orderBy: orderBy">
                <div class="publication-title"><a href="#/publi/{{publi.id}}">{{publi.titre}}</a></div>
                <div class="publication-infos">
                    {{publi.statut}}, {{publi.categorie}}, {{publi.annee_publication}}.<br/>
                    <span ng-show="publi.journal_titre !== null">
                        <i>Publiée dans {{publi.journal_titre}} ({{publi.journal_editeur}}) vol. {{publi.journal_volume}}, pages {{publi.pages}}</i>
                    </span>
                    <span ng-show="publi.conference_nom !== null">
                        <i>Présentée lors de {{publi.conference_nom}}, à {{publi.conference_lieu}} le {{publi.conference_date}}.</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<p ng-show="liste.length == 0">Pas de publications.</p>
