<table ng-show="liste.length > 0">
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>Statut</th>
    <th>Catégorie</th>
    <th>Année</th>
  </tr>
  <tr ng-repeat="publi in liste">
    <td><a href="#/publi/{{publi.id}}">{{publi.titre}}</a></td>
    <td>{{publi.description}}</td>
    <td>{{publi.statut}}</td>
    <td>{{publi.categorie}}</td>
    <td>{{publi.annee_publication}}</td>
  </tr>
</table>
<p ng-hide="liste.length === 0">Il n'y pour le moment aucune publication sur le site.</p>
