<div class="projet-liste-publications">
    <div class="group-by-box" ng-repeat="(orderByLabel, subliste) in liste | orderBy: orderBy | groupBy: groupBy">
        <h3>{{orderByLabel}}</h3>
        <div class="publication-box" ng-repeat="publi in subliste | orderBy: orderBy">
            <div class="publication-title"><a href="#/publi/{{publi.id}}">{{publi.titre}}</a></div>
            <div class="publication-infos">{{publi.statut}}, {{publi.categorie}}, {{publi.annee_publication}}</div>
        </div>
    </div>
    <p ng-show="liste.length == 0">Pas de publications.</p>
</div>
